html {
  background-color: #f2f2f2;
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.content {
  background-color: #fff;
}

.title {
  border-bottom: 1px solid black;
}

legend {
  padding-right: 1rem;
}

@media only screen and (min-width: 60em) {

  .left-form {
    padding-right: .5rem;
  }

  .right-form {
    padding-left: .5rem;
  }

}
